* {
    font-family: 'Radio Canada', sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

h1 {
    position: absolute;
    font-size: 45px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}

h2 {
    position: absolute;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 650;
    padding: 0px;
    margin: 0px;
}

h4 {
    position: absolute;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    color: rgb(35, 35, 40);
    padding: 0px;
    margin: 0px;
}

.header {
    height: 250px;
    background: rgb(5, 30, 45);
}

header {
    z-index: 1;
    font-size: 16px;
    width: 100%;
    background: transparent;
    color: #ffffff;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding: 20px 12.5px 0px 12.5px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #cfcfcf;
}

.contenido {
    padding-top: 80px;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}

.icon {
    margin: 10px 0px 0px 80px;   
    cursor: pointer;
}

.icon-select {
    margin: 0px;
    padding: 0px;
}

.tab {
    margin: 0px;
    cursor: pointer;
}

.menu-image {
    visibility: visible;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: -35px 0px 0px 0px;
}

.close-image {
    visibility: hidden;
    width: 22.5px;
    height: 22.5px;
    padding: 0px;
    margin: -35px 2.5px 0px 0px;
}

.menu-bar {
    font-size: 20px;
    font-weight: 400;
    color: rgb(5, 30, 45);
}

.container {
    visibility: hidden;
    background: #ffffff;
}

.container {
    height: 0px;
    background: #ffffff;
    -webkit-transition: height 1s, background 1s;
    -moz-transition: height 1s, background 1s;
    -o-transition: height 1s, background 1s;
    transition: height 1s, background 1s;
    padding: 0px;
    margin: 0px;
}

.container {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

@media (min-width: 320px) and (max-width: 413px) {
    h1 {
        position: absolute;
        font-size: 30px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }

    h2 {
        position: absolute;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 650;
        padding: 0px;
        margin: 0px;
    }

    h4 {
        position: absolute;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 300;
        color: rgb(35, 35, 40);
        padding: 0px;
        margin: 0px;
    }

    .menu {
        z-index: 1;
        position: absolute;
        top: 8%;
        left: 85%;
    }

    .icon {
        visibility: hidden;
    }
    
    .tab {
        visibility: hidden;
    }

    .title {
        position: relative;
        margin: -160px 0px 0px 20px;
        color: #ffffff;
    }
    
    .important {
        position: relative;
        margin: 20px 0px 0px 20px;
        color: rgb(5, 30, 45);
    }
    
    .information {
        position: relative;
        margin: 5px 0px 0px 20px;
    }
}

@media (min-width: 414px) and (max-width: 449px) {
    h1 {
        position: absolute;
        font-size: 30px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }

    h2 {
        position: absolute;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 650;
        padding: 0px;
        margin: 0px;
    }

    h4 {
        position: absolute;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 300;
        color: rgb(35, 35, 40);
        padding: 0px;
        margin: 0px;
    }

    .menu {
        z-index: 1;
        position: absolute;
        top: 8%;
        left: 85%;
    }

    .icon {
        visibility: hidden;
    }
    
    .tab {
        visibility: hidden;
    }

    .title {
        position: relative;
        margin: -120px 0px 0px 20px;
        color: #ffffff;
    }
    
    .important {
        position: relative;
        margin: 20px 0px 0px 20px;
        color: rgb(5, 30, 45);
    }
    
    .information {
        position: relative;
        margin: 5px 0px 0px 20px;
    }
}

@media (min-width: 450px) and (max-width: 580px) {
    h1 {
        position: absolute;
        font-size: 35px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }

    .menu {
        z-index: 1;
        position: absolute;
        top: 8%;
        left: 85%;
    }

    .icon {
        visibility: hidden;
    }
    
    .tab {
        visibility: hidden;
    }

    .title {
        position: relative;
        margin: -80px 0px 0px 20px;
        color: #ffffff;
    }
    
    .important {
        position: relative;
        margin: 20px 0px 0px 20px;
        color: rgb(5, 30, 45);
    }
    
    .information {
        position: relative;
        margin: 5px 0px 0px 20px;
    }
}

@media (min-width: 581px) and (max-width: 703px) {
    h1 {
        position: absolute;
        font-size: 35px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }

    .menu {
        z-index: 1;
        position: absolute;
        top: 8%;
        left: 90%;
    }

    .icon {
        visibility: hidden;
    }
    
    .tab {
        visibility: hidden;
    }

    .title {
        position: relative;
        margin: -80px 0px 0px 20px;
        color: #ffffff;
    }
    
    .important {
        position: relative;
        margin: 20px 0px 0px 20px;
        color: rgb(5, 30, 45);
    }
    
    .information {
        position: relative;
        margin: 5px 0px 0px 20px;
    }
}

@media (min-width: 704px) and (max-width: 1234px) {
    h1 {
        position: absolute;
        font-size: 35px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }

    .menu {
        z-index: 1;
        position: absolute;
        top: 8%;
        left: 90%;
    }

    .icon {
        visibility: hidden;
    }
    
    .tab {
        visibility: hidden;
    }

    .title {
        position: relative;
        margin: -40px 0px 0px 20px;
        color: #ffffff;
    }
    
    .important {
        position: relative;
        margin: 20px 0px 0px 20px;
        color: rgb(5, 30, 45);
    }
    
    .information {
        position: relative;
        margin: 5px 0px 0px 20px;
    }
}

@media (min-width: 1235px) and (max-width: 1440px) {
    h1 {
        position: absolute;
        font-size: 45px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }
    
    h2 {
        position: absolute;
        font-family: Poppins;
        font-size: 35px;
        font-weight: 650;
        padding: 0px;
        margin: 0px;
    }
    
    h4 {
        position: absolute;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 300;
        color: rgb(35, 35, 40);
        padding: 0px;
        margin: 0px;
    }

    .menu {
        visibility: hidden;
    }

    .menu-image {
        visibility: hidden;
    }

    .title {
        position: relative;
        margin: 0px 0px 0px 80px;
        color: #ffffff;
    }
    
    .important {
        position: relative;
        margin: 20px 0px 0px 80px;
        color: rgb(5, 30, 45);
    }
    
    .information {
        position: relative;
        margin: 5px 0px 0px 80px;
    }
}